<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<%= render "layouts/header" %>
		<div class="container" id="main-container">
			<%= yield %>	
		</div>	
	</body>
	<footer >
		<div >Prework for CoderSchool Full-Stack Web (Ruby & JS) Feb 2017</div>
	</footer>
</html>